.button-carousel {
    display: flex;
    justify-content: center;
    gap: 10px;

}

.button-carousel .button {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 3px solid transparent;
    box-shadow: 2px 2px 2px black;
    cursor: pointer;

}

.button-carousel .button.select {
    background-color: rgb(38, 59, 48);
}